.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-th, .user-td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-th {
  background-color: #252734;
}

.user-avatar-container {
  display: flex;
  align-items: center; 
}

.user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.user-btn {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
}

.user-btn.update {
  background-color: #008CBA;
}

.user-btn.delete {
  background-color: #f44336;
}

tr:nth-child(even) {
  background-color: grey;
}
