/* ----------------------------------------------------------------------------------------------------------------
                                         Variables declaration
 ------------------------------------------------------------------------------------------------------------------*/
:root {
  --pure-white: #fff;
  --wheat-white: #838383;
  --lighten-background: #2a2c39;
  --deepen-background: #000;
  --font-family: "Poppins", sans-serif;
  --input-text-color: #000;
}

/* ----------------------------------------------------------------------------------------------------------------
                                         Global stsyles
 ------------------------------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--pure-white);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--lighten-background);
  font-family: var(--font-family);
  font-style: normal;
}

input,
textarea {
  color: var(--input-text-color);
}

/* ----------------------------------------------------------------------------------------------------------------
                                         General section styling
 ------------------------------------------------------------------------------------------------------------------*/

section {
  padding: 0 30px;
  margin-bottom: 30px;
}

.section-title {
  font-size: 42px;
  text-align: center;
  position: relative;
}

.section-description {
  text-align: center;
  margin: 20px auto;
}

@media (max-width: 991px) {
  .section-description {
    font-size: 1rem;
    text-align: center;
  }
}

/* ----------------------------------------------------------------------------------------------------------------
                                         Navbar section
 ------------------------------------------------------------------------------------------------------------------*/
/* Global styles */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-wrap: nowrap;
}

.logo {
  font-size: 3rem;
}

.navbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-Links {
  display: flex;
}

.nav-Links ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
}

.nav-Links ul a {
  display: inline-block;
  padding: 16px 10px;
}

.nav-Links ul a:hover {
  color: #000;
  background-color: #fff;
}

.siggning-links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.siggning-links a {
  padding: 16px 7px;
}

.siggning-links a:hover {
  color: #000;
  background-color: #fff;
}

.mobile-toggle {
  display: none;
}

/* User icon dropdown */
.user-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
  line-height: 24px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -10px;
  top: 25px;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a,
.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover,
.dropdown-content span:hover {
  background-color: grey;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #000;
}

.people-icon {
  font-size: 1.5rem;
}
.down-arrow {
  margin-left: 5px;
  font-size: 1rem;
}

/* Dashboard navigation link */
.dashboard-navlink {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-navlink li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* Media Queries */
@media (max-width: 991px) {
  #navbar {
    padding: 0 1rem;
  }
  .logo {
    font-size: 1.7rem;
  }
}

@media (max-width: 768px) {
  .navbarLinks {
    display: none;
    width: 100%;
  }
  .navbarLinks.mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 42px;
    right: 0;
    background-color: #000;
    width: 150px;
    text-align: left;
    padding: 10px;
    gap: 10px;
  }

  .navbarLinks.mobile .nav-Links {
    width: 100%;
  }
  .navbarLinks.mobile .nav-Links ul,
  .siggning-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    width: 100%;
  }

  .siggning-links a {
    display: block;
  }

  .navbarLinks.mobile .nav-Links ul li {
    width: 100%;
  }
  .navbarLinks.mobile .nav-Links ul li a {
    width: 100%;
  }

  .mobile-toggle {
    display: block;
  }

  .dashboard-navlink  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .user-icon {
    display: none;
  }

  .dropdown {
    position: static;
  }

  .dropdown .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    background-color: transparent;
    box-shadow: none;
    text-align: left;
    margin-top: 20px;
  }

  .dropdown .dropdown-content a, .dropdown .dropdown-content span {
    display: inline-block;
    padding: 10px 0;
    color: #fff;
    width: 100%;
    margin-left: 0;
    text-align: left;

  }

  
}

/* ----------------------------------------------------------------------------------------------------------------
                                         Hello section
 ------------------------------------------------------------------------------------------------------------------*/

#hello {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-image: url("./Assets/images/particles_bg.png");
}

.hello-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.hello-text h1 {
  font-size: 3rem;
}

.hello-text h2 {
  font-size: 2rem;
}

.hello-text button {
  color: #858792;
  background-color: #000;
  padding: 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}
.myimage-wrapper {
  display: flex;
  align-items: flex-end;
  width: 50%;
}
.my-image {
  width: 100%;
}

@media (max-width: 768px) {
  #hello {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background-image: url("./Assets/images/particles_bg.png");
  }

  .hello-text {
    align-items: center;
    margin-top: 3rem;
    gap: 20px;
  }

  .myimage-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .hello-text h1 {
    font-size: 1.5rem;
  }

  .hello-text h2 {
    font-size: 1rem;
  }

  .hello-text {
    align-items: center;
  }
}

/* ----------------------------------------------------------------------------------------------------------------
                                         Hello section
 ------------------------------------------------------------------------------------------------------------------*/

.info-row {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  width: 70%;
  margin: 30px auto;
  background-color: #252734;
  border-radius: 10px;
}

.info-row .col ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  list-style: none;
}
.info-row .col ul li span {
  font-weight: bold;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .info-row {
    flex-direction: column;

    padding: 10px;
    gap: 20px;
    width: 92%;
    margin: 30px auto;
    background-color: #252734;
    border-radius: 10px;
  }

  .info-row .col ul li {
    color: #858792;
    font-size: 0.9rem;
    text-wrap: nowrap;
  }
  .info-row .col ul li span {
    color: #fff;
  }
  .info-row .col ul li span {
    font-weight: bold;
    margin-right: 5px;
  }
}
/* ----------------------------------------------------------------------
                                       Skills section 
----------------------------------------------------------------------------*/

.skills-content {
  display: flex;
  justify-content: center;
}

.skills-content .col {
  width: 50%;
  padding-top: 30px;
}

.skill-box {
  width: 80%;
  padding: 10px;
}
.skill-box .title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.skill-box .skill-bar {
  height: 10px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: #0000004c;
}
.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: #fff;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}
.skill-per.html {
  width: 95%;
  animation-delay: 0.1s;
}
.skill-per.css {
  width: 85%;
  animation-delay: 0.1s;
}
.skill-per.javascript {
  width: 90%;
  animation-delay: 0.2s;
}
.skill-per.nodejs {
  width: 70%;
  animation-delay: 0.3s;
}
.skill-per.reactjs {
  width: 90%;
  animation-delay: 0.3s;
}
.skill-per.boostrap {
  width: 85%;
  animation-delay: 0.3s;
}
.skill-per.mongodb {
  width: 80%;
  animation-delay: 0.3s;
}
.skill-per.postgres {
  width: 70%;
  animation-delay: 0.3s;
}
@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.skill-per .tooltip {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 9px;
  font-weight: 500;
  color: #000;
  padding: 2px 5px;
  border-radius: 3px;
  background: #fff;
  z-index: 1;
}
.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 6px;
  width: 6px;
  z-index: -1;
  background-color: #fff;
  transform: translateX(-50%) rotate(45deg);
}

@media (max-width: 768px) {
  .contact-us .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  .skills-content .col {
    width: 50%;
    padding-top: 0px;
  }

  .skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-content .col {
    width: 100%;
  }

  .skill-box {
    width: 100%;
    padding: 10px;
  }
}

/* ------------------------------------------------------------------
                              Milestones section 
-----------------------------------------------------------------------*/

.statistics-counts {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.statistics-counts-left,
.statistics-counts-right {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.statistics-counts .statistics-counts-right .circle-wrapper,
.statistics-counts .statistics-counts-right .circle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circular-progress {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #252734;
}

.progress-value {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.text {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

@media (max-width: 960px) {
  .statistics-counts-left,
  .statistics-counts-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .circular-progress {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circular-progress::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #252734;
  }

  .progress-value {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .text {
    font-size: 0.8rem;
  }
}

/* ------------------------------------------------------------------
                              Testimonial section
-----------------------------------------------------------------------*/

.swiper-container {
  overflow: hidden;
  position: relative;
}

.swiper-slide.testimonial-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.testimonial-card {
  color: #fff;
  width: 50%;
  padding: 30px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: grey;
}
.testominial_slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.testimonial-image-wrapper {
  width: 250px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-card img {
  width: 100%;
  height: 100%;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: justify;
  gap: 10px;
}

.testimonial-time {
  color: #000;
}
.swiper-pagination {
  position: absolute;
  bottom: 50%;
  left: -200px;
  width: 100%;
  text-align: center;
}



/* ------------------------------------------------------------------
                              Portfolio section
-----------------------------------------------------------------------*/

.portifolio-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
}

.portifolio-image {
  width: 100%;
}

.portifolio-image img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .portifolio-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .portifolio-list {
    grid-template-columns: 1fr;
  }

  .testominial_slide {
    flex-direction: column;
  }
  .testimonial-image-wrapper {
    width: 100px;
  }

  .testimonial-card {
    width: 95%;
  }
}

/* ------------------------------------------------------------------
                              Blogs section
-----------------------------------------------------------------------*/

.swiper-slide.blog-swipper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #252734;
}

.swiper-slide.blog-swipper-slide img {
  width: 100%;
}
.blog-content {
  margin-top: 10px;
}

.blog-content h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.blog-content p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.swiper-slide button {
  padding: 10px 20px;
  background-color: #2a2c39;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
.social-icons a {
  margin: 0 5px;
  color: #333;
  text-decoration: none;
}
.social-icons a span {
  padding-left: 5px;
}

/* ------------------------------------------------------------------
                               Contact-us section
-----------------------------------------------------------------------*/

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.contact-col {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  background-color: grey;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.contact-col iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
}
.contact-col-right {
  padding: 20px;
}
.contact-col form {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #2a2c39;
  color: white;
  padding: 10px 20px;
  width: calc(100% - 22px);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .contact-us .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  .contact-col {
    width: calc(100% - 10px);
    margin-bottom: 20px;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
}

/* ------------------------------------------------------------------
                              Social Media section
-----------------------------------------------------------------------*/

.social-media {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.col-social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
.social-media .social-media-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-media .social-media-group a img {
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  .social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* ------------------------------------------------------------------
                              Newsletter section
-----------------------------------------------------------------------*/

.newsletter {
  width: 70%;
  margin: 20px auto;
  background-color: grey;
  padding: 20px;
}

.newsletter h2 {
  margin-bottom: 20px;
}
.input-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.input-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-wrap: nowrap;
  padding: 10px;
}

@media (max-width: 768px) {
  .newsletter {
    width: 95%;
    margin: 20px auto;
    padding: 10px 30px;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
  }
  .input-wrapper .subscriber-email {
    width: 100%;
  }
}

/* ------------------------------------------------------------------
                              Footer section
-----------------------------------------------------------------------*/

.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #000;
  padding: 20px;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.6rem;
  }
}
