* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.login {
    display: flex;
    width: 100%;
    height: 100vh;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}
.login-left, .login-right {
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
} 
.login-image-container {
    width: 200px;
    height: 200px;
    position: relative;
}
.login-image-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.login-image-wrapper img {
    width: 100%;
    height: 100%;
}
.figma-icon {
    position: absolute;
    top: 35%;
    left: -10%;
    width: 40px;
    height: 40px;
    z-index: 999;
}
.express-icon {
    position: absolute;
    top: -10%;
    left: 38%;
    width: 40px;
    height: 40px;
    z-index: 999;
}
.xd-icon {
    position: absolute;
    top: 35%;
    left: 90%;
    width: 40px;
    height: 40px;
    z-index: 999;
}
.React-icon {
    position: absolute;
    top: 90%;
    left: 38%;
    width: 40px;
    height: 40px;
    z-index: 999;
}

.login-left  h3 {
    width: 50%;
    font-size: 2rem;
    text-align: center;
}

.login-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #252734;
}
.login-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #2A2C39;
}

.login-right  h3 {
    width: 50%;
    font-size: 2rem;
    text-align: left;
}
.signup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 50%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
input {
    padding: 7px;
    border-radius: 3px;
    border: none;
}
.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.input-checkbox {
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 10px;
}
.input-checkbox span {
    color:  #fff;
}
input[type="checkbox"] {
    background-color: transparent;
    border:  solid ;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.toggle-password {
    display: flex;
    justify-content: start;
    gap: 5px;
    width: 100%;
   
}

button {
    padding: 10px;
    background-color: #252734;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.sign-with-google {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.google_icon {
    width: 24px;
    height: 24px;
}

@media (max-width: 576px) {
    .login-left{
        display: none;
        width: 100%;
    }
    .login-right{
        width: 100%;
    }

    .signup-content {
        width: 70%;
    }
    
}