
.blog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  color: #fff;
  }
  
  .blog {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    background-color: #252734;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  img {
    width: 100px; 
    height: 100px;
  }
  
  .blog-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
  }
  
  .blog-buttons {
    display: flex;
    gap: 10px;
    align-self: flex-start;
  }
  
  .blog-update-btn, .blog-delete-btn {
    background-color: #252734;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  }
  
  .blog-update-btn:hover, .blog-delete-btn:hover {
    background-color: #000;
  }